.mat-elevation-z8 {
    margin: auto;
}

.col-padding {
    text-align: center;
    padding: 2px 10px;
}

.col-padding-text-left {
    text-align: left;
    padding: 2px 10px;
}

.table-img {
    width: 130px;
    height:auto;
}