<div class="popup-form">
    <div class="popup-form-container">
        <div class="form-title">
            <p>{{newRestaurant ? "Add Restaurant" : "Update Restaurant"}}</p>
        </div>
        <form class="restaurant-form" [formGroup]="restaurantDetails" (ngSubmit)="onSubmit()">
            <label>Name</label>
            <input type="text" [value]="restaurant ? restaurant.name : ''" formControlName="name" />
            <label>Chef</label>
            <div class="select-wrapper">
                <select class="form-select" type="text" [value]="restaurant ? restaurant.chefRef : ''"
                    formControlName="chefRef">
                    <!-- if there is resturant - show if not then no -->
                    <option> {{restaurant?.chefRef ? restaurant?.chefRef?.name : 'Choose Chef'}} </option>
                    <!-- check not prev restaurant -->
                    <option *ngFor="let chef of chefs"> {{chef.name}} </option>
                </select>
            </div>
            <label>Signature Dish</label>
            <div class="select-wrapper">
                <select class="form-select" type="text" [value]="restaurant ? restaurant.signatureDish : ''"
                    formControlName="signatureDish">
                    <!-- if there is resturant - show if not then no -->
                    <option> {{restaurant?.signatureDish ? restaurant?.signatureDish?.name : 'Choose Dish'}} </option>
                    <!-- check not prev restaurant -->
                    <option *ngFor="let dish of signatureDishes"> {{dish.name}} </option>
                </select>
            </div>
            <label>Image URL</label>
            <input type="text" [value]="restaurant ? restaurant.img : ''" formControlName="img" />
            <label>
                <input type="checkbox" [checked]="restaurant ? restaurant.active : true" formControlName="active"
                    class="form-checkbox" />
                Active
            </label>
            <button class="form-button" type="submit">Done</button>
            <button class="form-button cancel-button" type="button" (click)="closeForm()">Cancel</button>
        </form>
    </div>
</div>