<div class="popup-form">
    <div class="popup-form-container">
        <div class="form-title">
            <p>{{newChef ? "Add Chef" : "Update Chef"}}</p>
        </div>
        <form class="chef-form" [formGroup]="chefDetails" (ngSubmit)="onSubmit()">
            <label>Name</label>
            <input type="text" [value]="chef ? chef.name : ''" formControlName="name" />
            <label>Description</label>
            <textarea type="text" [value]="chef ? chef.description : ''" formControlName="description"></textarea>
            <label>Image URL</label>
            <input type="text" [value]="chef ? chef.img : ''" formControlName="img" />
            <label>
                <input type="checkbox" [checked]="chef ? chef.active : true" formControlName="active" />
                Active
            </label>
            <button class="form-button" type="submit">Done</button>
            <button class="form-button cancel-button" type="button" (click)="closeForm()">Cancel</button>
        </form>
    </div>
</div>