<div class="chef-form-wrapper">
    <div class="chef-form-wrapper-container">
        <form class="chef-form" [formGroup]="chefDetails" (ngSubmit)="onSubmit()">
            <label class="chef-form-label">Name</label>
            <input class="chef-form-input" type="text" [value]="chef ? chef.name : ''" formControlName="name" />
            <label class="chef-form-label">Description</label>
            <input class="chef-form-input" type="text" [value]="chef ? chef.description : ''"
            formControlName="description" />
            <label class="chef-form-label">Image URL</label>
            <input class="chef-form-input" type="text" [value]="chef ? chef.img : ''" formControlName="img" />
            <label class="chef-form-label">Active</label>
            <input class="chef-form-input" type="checkbox" [checked]="chef ? chef.active : true"
                formControlName="active" />
            <button class="chef-form-button" type="submit">Done</button>
            <button class="chef-form-button" type="button" (click)="closeForm()">Cancel</button>
        </form>
    </div>
</div>


<!-- <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [value]="chef ? chef.name : ''" formControlName="name" />
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [value]="chef ? chef.description : ''" formControlName="description"></textarea>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Active</mat-label>
    <mat-checkbox [checked]="chef ? chef.active : true" formControlName="active"></mat-checkbox>
</mat-form-field> -->