<div class="popup-form">
    <div class="popup-form-container">
        <div class="form-title">
            <p>{{newDish ? "Add Dish" : "Update Dish"}}</p>
        </div>
        <form class="dish-form" [formGroup]="dishDetails" (ngSubmit)="onSubmit()">
            <label>Name</label>
            <input type="text" [value]="dish ? dish.name : ''" formControlName="name" />
            <label>ingredients</label>
            <input type="text" [value]="dish ? dish.ingredients : ''" formControlName="ingredients" />
            <label>Image URL</label>
            <input type="text" [value]="dish ? dish.img : ''" formControlName="img" />
            <label>Price</label>
            <input type="text" [value]="dish ? dish.price : ''" formControlName="price" />
            <!-- tags dropdown -->
            <!-- <label>Tags</label>
            <div *ngFor="let tag of dishTags; let i = index">
                <label>
                    <input type="checkbox" [value]="tag.value" formControlName="tags"  checked="false"/>
                    {{ tag.name }}
                </label>
            </div> -->
            <!--  -->
            <label>Tags</label>
            <input type="text" [value]="dish ? dish.tags : ''" formControlName="tags" />
            <label>Restaurant</label>
            <div class="select-wrapper">
                <select class="form-select" type="text" [value]="dish ? dish.restaurantRef : ''"
                    formControlName="restaurantRef">
                    <option> {{dish?.restaurantRef ? dish?.restaurantRef?.name : 'Choose Restaurant'}} </option>
                    <option *ngFor="let res of restaurants"> {{res.name}} </option>
                </select>
            </div>
            <label>
                <input type="checkbox" [checked]="dish ? dish.active : true" formControlName="active" />
                Active
            </label>
            <button class="form-button" type="submit">Done</button>
            <button class="form-button cancel-button" type="button" (click)="closeForm()">Cancel</button>
        </form>
    </div>
</div>